<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wudhutayamumdanshalat"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_wst"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_wst"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.wudhutayamumdanshalat.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.shalat.CaraShalatActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.shalat.RukunShalatActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.tayamum.CaraTayamumActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.tayamum.RukunTayamumActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.berwudhu.CaraBerWudhuActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.berwudhu.RukunWudhuActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.shalat.SyaratShalatActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.tayamum.SyaratTayamumActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.berwudhu.BerwudhuActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.berwudhu.SyaratBerwudhuActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tentang.TentangActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.video.VideoActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.TataCaraActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tentang.PengertianShalatActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tentang.PengertianTayamumActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wudhutayamumdanshalat.view.tentang.TentangActivity" />
        </activity>
        <activity
            android:name="com.example.wudhutayamumdanshalat.view.tentang.PengertianWudhuActivity"
            android:supportsRtl="true" />
        <activity
            android:name="com.example.wudhutayamumdanshalat.view.video.VideoShalatActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.example.wudhutayamumdanshalat.view.video.VideoTayamumActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.wudhutayamumdanshalat.view.video.VideoWudhuActivity"
            android:screenOrientation="landscape" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.shalat.ShalatActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.view.tatacara.tayamum.TayamumActivity" />
        <activity android:name="com.example.wudhutayamumdanshalat.MainActivity">

        </activity>
    </application>

</manifest>